<!-- blog/templates/blog/base.html -->
{% load static %} <link rel="stylesheet" href="{% static 'rapsDaily/base.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>RapsDaily – {% block page_title %}A Toronto Raptors community!{% endblock %}</title>
</head>

<body>
  {% if messages %}
  <div class="django-messages">
    {% for message in messages %}
    <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
    {% endfor %}
  </div>
  {% endif %}
  <!-- The header -->
  <header id="site-header">
     <h1>RapsDaily</h1>
     <p>A Toronto Raptors community!</p>
  </header>

  <!-- Top navigation -->
  <nav id="top-nav">
    <ul>
      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{% url 'about' %}">About</a></li>
      <li><a href="{% url 'post-list' %}">Posts</a></li>
      <li><a href="{% url 'topic-list' %}">Topics</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="{% url 'photo-contest' %}">Contest</a></li>
    </ul>
  </nav>

  <main id="main-content">
   {% block main %}
   <!-- Content for the main block will be rendered here -->
   {% endblock %}
  </main>

  <!-- The footer -->
  <footer id="site-footer">
    <!-- Print copyright with the current year -->
    Created by Brandon Mathew &copy;{% now 'Y' %}
  </footer>


  <div class="wrapper">
    <header ... >
      {# ... # }
    {# ... bottom of page ... #}
    </footer>
  {# close wrapper #}
  </div>
</body>
</html>