<!-- blog/templates/blog/home.html -->
{% extends "rapsDaily/base.html" %}
{% block page_title %}Posts{% endblock %}



{% block title %}Posts{% endblock %}

{% block main %}
<section class="topics-header">
<h1>All Posts</h1>
</section>

{% for post in posts %}
  <article class="post-preview">
    <h2>{{ post.title }}</h2>
    <time>{{ post.published }}</time>
    <section class="teaser">
      {{ post.content|truncatewords:20 }}
      <p><a href="{{ post.get_absolute_url }}">Read more &rarr;</a></p>
    </section>
  </article>
{% endfor %}



<section class="popular-topics">
<h2>Popular Topics</h2>
{% for topic in popular_topics %}
<article>
  <strong><li><a href="{{ topic.get_absolute_url }}">{{ topic.name }}</a> ({{ topic.blog_posts__count }})</li></strong>
</article>
{% endfor %}

</section>

{% endblock %}