<!-- blog/templates/blog/home.html -->
{% extends "rapsDaily/base.html" %}
{% block page_title %}Topics{% endblock %}


{% block main %}
<section class="topics-header">
<h1>All Topics</h1>
</section>

<section class="all-topics">
{% for topic in topics %}
  <article>
    <h2><a href="{{ topic.get_absolute_url }}">{{ topic.name }}</a></h2>
  </article>
{% endfor %}
</section>



<section class="popular-topics">
<h2>Popular Topics</h2>
{% for topic in popular_topics %}
<article>
  <strong><li><a href="{{ topic.get_absolute_url }}">{{ topic.name }}</a> ({{ topic.blog_posts__count }})</li></strong>
</article>
{% endfor %}

</section>

{% endblock %}