<!-- blog/templates/blog/home.html -->
{% extends "rapsDaily/base.html" %}
{% block page_title %}Topics: Detailed View{% endblock %}


{% block main %}
<section class="topics-header">
<h1>{{ topic.name }}</h1>
</section>

<section class="latest-article-preview">
{% for post in post_list %}
<article>
  <h2>{{ post.title }} </h2>
  <em><span class="published">{{ post.published|timesince }} ago</em>
  <strong>{{ post.content|linebreaks }}</strong>
</article>
{% endfor %}

</section>



<section class="popular-topics">
<h2>Popular Topics</h2>
{% for topic in popular_topics %}
<article>
  <strong><li><a href="{{ topic.get_absolute_url }}">{{ topic.name }}</a> ({{ topic.blog_posts__count }})</li></strong>
</article>
{% endfor %}

</section>

{% endblock %}